@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$pink-color: hsl(322, 100%, 66%);
$very-pale-cyan-color: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-Blue: hsl(208, 11%, 55%);
$family-heading-text: "Poppins", sans-serif;
$family-body-text: "Open Sans", sans-serif;

@mixin button($very-pale-cyan-color, $very-dark-cyan) {
  border-radius: 1rem;
  color: $very-dark-cyan;
  background-color: $very-pale-cyan-color;
  border: none;
}

body {
  font-family: $family-body-text;
  font-size: 18px;
  margin: 0;
}

.nav {
  padding: 25px 20px 0 20px;
  background-color: $very-pale-cyan-color;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0px;
    img {
      width: 113px;
    }
  }
}

.button-nav {
  @include button(white, $very-dark-cyan);
  height: 1.5rem;
  font-size: x-small;
  width: 6.5rem;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.center-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;
  width: 375px;

  background-image: url(../images/bg-hero-mobile.svg);
  background-color: $very-pale-cyan-color;

  li {
    text-align: center;
    width: 80%;

    h1 {
      color: $very-dark-cyan;
    }
    p {
      color: $very-dark-cyan;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;

    h2 {
      color: $very-dark-cyan;
      padding-top: 30px;
      font-size: 1.35rem;
      width: 100%;
    }
    p {
      color: $grayish-Blue;
      font-size: 0.9rem;
      width: 120%;
    }
  }
}

.none-background {
  background-image: none;
  background-color: transparent;
}

.shadow-article {
  border-radius: 1rem;
  box-shadow: 2px 2px 4px 2px rgba(185, 185, 185, 0.2);
  margin-top: 30px;
  margin-left: 25px;
  padding: 60px 0px 40px;
  width: 320px;
}

.button-article {
  @include button(white, $very-dark-cyan);
  height: 2.5rem;
  width: 12.5rem;
  border-radius: 2rem;
  white-space: normal;
  background: $pink-color;
  color: $very-pale-cyan-color;
  margin: 40px 0px 40px 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.footer-styles {
  position: relative;
  background-color: $very-dark-cyan;
  color: $very-pale-cyan-color;
  list-style: none;
  padding-top: 8rem;
  margin-top: 10rem;
  ul {
    list-style: none;
  }

  .float{
    position: absolute;
    height: 160px;
    width: 95%;
    background-color: white;
    text-align: center;
    top: -90px;
    left: 10px;
    border-radius: 15px;
    box-shadow: 2px -2px 4px 2px rgba(185, 185, 185, 0.2);
    button{
      margin-top: .75rem;
      width: 215px;
    }
    h2{
      color: $very-dark-cyan;
      font-size: 1.15rem;
      margin-top: 1.8rem;
    }
  }
}

.footter-ul {
  padding-left: 20px;
  li {
    display: flex;
    flex-direction: row;
    margin: 17px 0;
    align-items: baseline;
    font-size: 1rem;
    img {
      max-width: none;
      width: auto;
      height: 15px;
      margin-right: 20px;
    }
    p {
      margin: 0px;
      width: 300px;
    }
  }
}

.logo-white {
  height: 25px !important;
}

.footter-ul-about {
  margin-top: 40px;
  padding-left: 20px;
}

.copyright {
  margin-bottom: 0px;
  text-align: center;
  font-size: small;
  margin-top: 30px;
  padding-bottom: 50px;
}

.brands {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 4rem;
  li {
    display: flex;
    width: 23px;
    height: 23px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  img {
    width: 20px;
    height: 20px;
  }
}